<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>Layout Zettel Forms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <!-- link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png" /-->
    	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" />
    
    <!-- JQuery CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
    
    <!-- Icons CSS -->
    <!--  link rel="stylesheet" type="text/css" th:href="@{/webjars/octicons/build/octicons.min.css" /-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />
    
    <!-- Custom Styles CSS -->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="../static/css/leaflet.css" th:href="@{/css/leaflet.css}" />
    
    <!-- Popover/Tooltip CSS -->
	<link rel="stylesheet" href="../static/css/use-bootstrap-select.min.css" th:href="@{/css/use-bootstrap-select.min.css}"/>
    
  </head>
  <!--[if IE]>
    <body style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px;">
  <![endif]-->
  <!--[if !IE]-->
  
  <body>
  <!--[endif]-->
	<div th:object="${zettelModel}">
		<div id="id" class="data" th:text="${id}">Default ID</div>
		<div id="documentId" class="data" th:text="${documentId}">Default DocumentID</div>
		<div id="topicId" class="data" th:text="${topicId}">Default Topic ID</div>
	</div>
	<div class="container my-5" layout:fragment="content-zettel">
		
		
	</div>
	
	<div id="successModal" class="modal fade">
		<div class="modal-dialog modal-newsletter">
			<div class="modal-content">
				<div class="modal-header">
					<div class="icon-box">						
						<i class="far fa-check-circle"></i>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
				</div>
				<div class="modal-body text-center">
					<h4>Great!</h4>	
					<p>The form was sent successfully.</p>
				</div>		
			</div>
		</div>
	</div>
	<!-- 
	@defining(ZettelHelper.getEmbeddedJson(myForm,dataFormat)){ ej =>
		@if(ej!=null){
			@if("200".equals(ej.getCode())){
			<div id="embeddedJson" class="success-true" style="display:none">@ej.toString()</div>
			}else{
			<div id="embeddedJson" class="success-false" style="display:none">@ej.toString()</div>
			}
		}
	}
	-->
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/helptext.js}"></script>
	<script type="text/javascript" th:src="@{/js/FileTreeView.js}"></script>
	<script type="text/javascript" th:src="@{/js/js.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/js/leaflet.js}"></script>
	<script type="text/javascript" th:src="@{/js/Leaflet.MakiMarkers.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/npm.js}"></script>
	<script type="text/javascript" th:src="@{/js/regal-resource.js}"></script>
	<script type="text/javascript" th:src="@{/js/TreeListFilter.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.webui-popover.js}"></script>
	<script type="text/javascript" th:src="@{/js/use-bootstrap-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<!-- script type="text/javascript" th:src="@{/js/ktblEnablingOptions.js}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
			enableKtblOptions();	
		});
	/script -->
	<script type="text/javascript">
		$(function() {
			if(itIsIE11()){
				$("body").attr("style","position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px;");
			}
			enablePopover();
			enableAutocompletionEndpoints();
			addActionsToRemoveAndAddButtons();
			window.addEventListener("message", handleMessage, false);
			enableDatepicker();
			initializeConnectionToParent();
			addGeonamesLookup();
			//addGeonamesReverseLookup();
			enableMultiselects();
			addActionToCancelButton();
			$(document).on("keypress", ":input:not(textarea)", function(event) {
			    return event.keyCode != 13;
			});
		});
		function itIsIE11(){
			return !!window.MSInputMethodContext && !!document.documentMode;
		}
	</script>
  </body>
</html>