<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout-forms}" >

<head>
	<title>Researchdata with KTBL</title>
</head>
<body>

	<div layout:fragment="content-zettel">
		<div class="col-md-8 offset-md-2">
		
			<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
		
			<form th:action="@{/researchdataktbl/{pid}(pid=${pid})}" th:object="${researchdata}" method="post">
				<a th:href="@{${@environment.getProperty('resource.frlUrlHelptext')}}" id="helpTextUrl" style="float:right" target="blank">Hilfe</a>
				
				<div class="accordion" id="accordion">
	 
	 				<th:block th:replace="researchdata :: researchdataFragment">
						<!-- wird aus researchdata.html eingefügt -->
	  				</th:block>
	  					  				
	  				<!-- ******** Accordion Panel 11 (KtBl) ******** -->
			      	<div layout:replace="~{fragments/accordionpanel :: accordionPanel('headingEleven','collapseEleven','ktbl-section','Ktbl')}"> 
		      					
		      			<div layout:fragment="accordionPanel-content">
		      			
		      				<!-- Projekt Title -->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="projecttitle0">Project title</label>
	  								<button type="button" class="inline-help" name="projecttitle0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="projecttitle0" style="display: none;">
										<button name="projecttitle0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-projecttitle">
									<select id="projecttitle0" tabindex="37" class="form-select input-widget" data-searchable="true" th:field="*{info.ktbl.projectTitle}">
										  <option value="">Please select...</option>
										  <option th:each="p : ${researchdataData.projectTitle}" th:value="${p.key}" th:text="${p.value}"></option>
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Projekt Title END -->
				 			
				 			<!-- Test Design -->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label class="form-control-label" for="testdesign0">Test design</label>
	  								<button type="button" class="inline-help" name="testdesign0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="testdesign0" style="display: none;">
										<button name="testdesign0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-testdesign">
									<select id="testdesign0" class="form-select input-widget" data-searchable="true" tabindex="38" th:field="*{info.ktbl.testDesign}">
										  <option value="">Please select...</option>
										  <option th:each="p : ${researchdataData.testDesign}" th:value="${p.key}" th:text="${p.value}"></option>
										  <!-- option th:each="p : ${researchdataData.testDesign}" th:data-key="${p.key}" th:value="${p.value}" th:text="${p.value}"></option-->									
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Test Design END -->
		      							
		      				<!-- Livestock Category-->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="livestockcategory0">Livestock category</label> <!-- class="form-control-label" -->
	  								<button type="button" class="inline-help" name="livestockcategory0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="livestockcategory0" style="display: none;">
										<button name="livestockcategory0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-livestockcategory">
									<select id="livestockcategory0" class="form-select input-widget" data-searchable="true" tabindex="29" th:field="*{info.ktbl.livestockCategory}">
										  <option value="">Please select...</option>
										  <option th:each="s : ${researchdataData.livestockCategory}" th:value="${s.key}" th:text="${s.value}"></option>
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Livestock Category END -->
	  				 			
				 			<!-- Ventilation System -->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label class="form-control-label" for="ventilationsystem0">Ventilation system</label>
	  								<button type="button" class="inline-help" name="ventilationsystem0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="ventilationsystem0" style="display: none;">
										<button name="ventilationsystem0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-ventilationsystem">
									<select id="ventilationsystem0" class="form-select input-widget" data-searchable="true" tabindex="30" th:field="*{info.ktbl.ventilationSystem}">
										  <option value="">Please select...</option>
										  <option th:each="v : ${researchdataData.ventilationSystem}" th:value="${v.key}" th:text="${v.value}"></option>
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Ventilation System END -->
				 			
				 			<!-- Livestock Production -->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label class="form-control-label" for="livestockproduction0">Livestock production</label>
	  								<button type="button" class="inline-help" name="livestockproduction0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="livestockproduction0" style="display: none;">
										<button name="livestockproduction0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-livestockproduction">
									<select id="livestockproduction0" class="form-select input-widget" data-searchable="true" tabindex="31" th:field="*{info.ktbl.livestockProduction}">
										  <option value="">Please select...</option>
										  <option th:each="v : ${researchdataData.livestockProduction}" th:value="${v.key}" th:text="${v.value}" disabled></option>
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Livestock Production END -->
				   			
				   			<!-- Housing Systems-->
	   						<div class="first-child-of-multi-field">
	        					<div>
	        						<label class="form-control-label" for="housingsystems0">Housing systems</label>
	  								<button type="button" class="inline-help" name="housingsystems0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="housingsystems0" style="display: none;">
										<button name="housingsystems0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-housingsystems">
									<select id="housingsystems0" class="form-select input-widget" data-searchable="true" tabindex="32" th:field="*{info.ktbl.housingSystems}">
										  <option value="">Please select...</option>
										  <option th:each="v : ${researchdataData.housingSystems}" th:value="${v.key}" th:text="${v.value}" disabled></option>
									</select>
								</div>
				 			</div>
				 			<br/>
				 			<!-- Housing Systems END -->
	  				 			
				 			<!-- Additional Housing Systems -->
  							<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="additionalhousingsystems0" class="form-control-label">Additional specifications of housing systems</label>
	  								<button type="button" class="inline-help" name="additionalhousingsystems0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="additionalhousingsystems0" style="display: none;">
										<button name="additionalhousingsystems0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-additionalhousingsystems">
									<select id="additionalhousingsystems0" class="form-select" multiple data-searchable="true" tabindex="33" th:field="*{info.ktbl.additionalHousingSystems}">
										  <option value="">Please select...</option>
										  <option th:each="e : ${researchdataData.additionalHousingSystems}" th:value="${e.key}" th:text="${e.value}" disabled></option>
									</select>
								</div>
	   				 		</div>
	   				 		<br />
				   			<!-- Additional Housing Systems END -->
	  				 			
				 			<!-- Emission Measurement Techniques -->
  							<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="emissionmeasurementtechniques0" class="form-control-label">Emission measurement techniques</label>
	  								<button type="button" class="inline-help" name="emissionmeasurementtechniques0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="emissionmeasurementtechniques0" style="display: none;">
										<button name="emissionmeasurementtechniques0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-emissionmeasurementtechniques">
									<select id="emissionmeasurementtechniques0" class="form-select" multiple data-searchable="true" tabindex="34" th:field="*{info.ktbl.emissionMeasurementTechniques}">
										  <option value="">Please select...</option>
										  <option th:each="e : ${researchdataData.emissionMeasurementTechniques}" th:value="${e.key}" th:text="${e.value}"></option>
									</select>
								</div>
	   				 		</div>
	   				 		<br />		
				   			<!-- Emission Measurement Techniques END -->
	  				 			
	  				 		<!-- Emissions -->
   							<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="emissions0" class="form-control-label">Emissions</label>
	  								<button type="button" class="inline-help" name="emissions0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="emissions0" style="display: none;">
										<button name="emissions0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-emissions">
									<select id="emissions0" class="form-select" multiple data-searchable="true" tabindex="35" th:field="*{info.ktbl.emissions}">
										  <option value="">Please select...</option>
										  <option th:each="e : ${researchdataData.emissions}" th:value="${e.key}" th:text="${e.value}"></option>
									</select>
								</div>
	   				 		</div>
	   				 		<br />
				   			<!-- Emissions END -->
	  				 			
				 			<!-- Emission Reduction Methods -->
							<div class="first-child-of-multi-field">
	        					<div>
	        						<label for="emissionreductionmethods0" class="form-control-label">Emission reduction methods</label>
	  								<button type="button" class="inline-help" name="emissionreductionmethods0">
										<span class="fas fa-question-circle"></span>
									</button>
									<div class="help-text" name="emissionreductionmethods0" style="display: none;">
										<button name="emissionreductionmethods0" type="button" class="close-help" style="float: right">
											<span class="fas fa-times-circle"></span>
										</button>
									</div>
								</div>
								<div class="select-emissionreductionmethods">
									<select id="emissionreductionmethods0" class="form-select" multiple data-searchable="true"  tabindex="36" th:field="*{info.ktbl.emissionReductionMethods}">
										  <option value="">Please select...</option>
										  <option th:each="e : ${researchdataData.emissionReductionMethods}" th:value="${e.key}" th:text="${e.value}"></option>
									</select>
								</div>
	   				 		</div>
				   			<br/>
				   			<!-- Emission Reduction Methods END -->
				 						
		      			</div>
	  				</div>
	  				<!-- ******** Accordion Panel 11 (Ktbl) END ******** -->
	  				
				</div>
				
				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
	  				<br/>
	  				<h4 style="color:rgb(33, 37, 41); padding: .5rem .5rem"><strong>This form has still errors!</strong></h4>
	  				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  				<table class="table" >
				        <tbody>			            
				            <tr th:with="fieldName=${err.fieldName}" th:each="err : ${#fields.detailedErrors()}">
				               
				               	<td th:text="${err.message}"></td>
				            </tr>
				         </tbody>
					</table>
				</div>
				
				<div class="form-group row mt-3">
					<div class="col-sm-offset-8 col-sm-4">
						<input id="cancel" class="cancel btn btn-secondary" type="button" value="Cancel"/>
						<input type="submit" value="Save" class="btn btn-primary"/>
					</div>
				</div>
				
			</form>
		</div>
	</div>

</body>
</html>
